<div id="tabMenu" class="menu-frame">

    <ul class="nav nav-tabs margin-top-50">
        <li role="presentation" class="active">
            <a id="generalInfoTabLink" role="button">General info</a>
        </li>
        <li role="presentation">
            <a id="depositListTabLink" role="button">Deposit list</a>
        </li>
        <li role="presentation">
            <a id="openNewDepositTabLink" role="button">Open new deposit</a>
        </li>
    </ul>

    <div id="info-content" class="menu-content">
        @Html.Partial("_GeneralInfoContent")
    </div>
</div>






