<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DepositEntities" connectionString="metadata=res://*/Model.Deposit.csdl|res://*/Model.Deposit.ssdl|res://*/Model.Deposit.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQL_EXPRESS_2012;Database=Deposit;Integrated Security=True;Connect Timeout=20;Encrypt=False;TrustServerCertificate=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>