<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--provider="System.Data.SqlClient";-->
    <add name="DepositDbContext" connectionString="Data Source=.\SQL_EXPRESS_2012;Database=Deposit2;Integrated Security=True;Connect Timeout=20;Encrypt=False;TrustServerCertificate=False;App=EntityFramework;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>