<div id="menu" class="menu-frame">

    <ul class="nav nav-tabs margin-top-50">
        <li role="presentation" class="active">
            @Ajax.ActionLink("General information", "GeneralInfo", new AjaxOptions()
            {
                HttpMethod = "GET", UpdateTargetId = "menu", InsertionMode = InsertionMode.Replace
            })
        </li>
        <li role="presentation">
            @Ajax.ActionLink("Deposit list", "DepositList", new AjaxOptions()
            {
                HttpMethod = "GET", UpdateTargetId = "menu", InsertionMode = InsertionMode.Replace
            })
        </li>
        <li role="presentation">
            @Ajax.ActionLink("Open new deposit", "OpenNewDeposit", new AjaxOptions()
            {
                HttpMethod = "GET", UpdateTargetId = "menu", InsertionMode = InsertionMode.Replace
            })
        </li>
    </ul>

    <div id="info-content" class="menu-content">
        @Html.Partial("_GeneralInfoContent")
    </div>
</div>

